def temperature_converter():
    temp = float(input("Enter the temperature: "))
    from_unit = input("Enter the current unit of the temperature (Celsius, Fahrenheit, Kelvin, Rankine): ")
    print("Temperature in Celsius: ", end="")
    if from_unit == "Celsius":
        print(temp)
    elif from_unit == "Fahrenheit":
        print((temp - 32) * 5/9)
    elif from_unit == "Kelvin":
        print(temp - 273.15)
    elif from_unit == "Rankine":
        print((temp - 491.67) * 5/9)
    else:
        print("Invalid Unit")
    
    print("Temperature in Fahrenheit: ", end="")
    if from_unit == "Celsius":
        print((temp * 9/5) + 32)
    elif from_unit == "Fahrenheit":
        print(temp)
    elif from_unit == "Kelvin":
        print((temp * 9/5) - 459.67)
    elif from_unit == "Rankine":
        print(temp - 459.67)
    else:
        print("Invalid Unit")
        
    print("Temperature in Kelvin: ", end="")
    if from_unit == "Celsius":
        print(temp + 273.15)
    elif from_unit == "Fahrenheit":
        print((temp + 459.67) * 5/9)
    elif from_unit == "Kelvin":
        print(temp)
    elif from_unit == "Rankine":
        print(temp * 5/9)
    else:
        print("Invalid Unit")
        
    print("Temperature in Rankine: ", end="")
    if from_unit == "Celsius":
        print((temp + 273.15) * 9/5)
    elif from_unit == "Fahrenheit":
        print(temp + 459.67)
    elif from_unit == "Kelvin":
        print(temp * 9/5)
    elif from_unit == "Rankine":
        print(temp)
    else:
        print("Invalid Unit")

temperature_converter()
